@font-face {
    font-family:Colby Bold;
    src: url(../fonts/Colby-Bold.ttf);
}
@font-face {
    font-family:Colby Regular;
    src: url(../fonts/Colby-Regular.ttf);
}
body{
background-color:#FFF8E6;
}
h1{
font-family:"DK Bocadillo";
color:#FF9900;
font-size:80px;
}
h2{
font-family:"Colby Bold";
font-size:40px;
color:#A2DEDA;
}
p{
font-family:"Helvetica";
font-size:20px;
color:#222222;
}
#congrats{
width:100%;
height:500px;
text-align:center;
}
#intro{
margin-top:-420px;
}
#con{
position:relative;
top:70px;
transform: scale(1.4);
}
#voucher{
width:100%;
height:1200px;
text-align:center;
}
#vouch{
position:relative;
top:700px;
}
#vchtxt{
position:relative;
top:700px;
}
#vchtxt2{
position:relative;
top:700px;
font-size:30px;
}
.darkblue{
color:#2071AB;
}
.orange{
color:#FF9900;
}
#footnote{
width:100%;
height:200px;
text-align:center;
}
#QR{
transform:scale(0.3);
position:relative;
}
#QRsub{
position:relative;
bottom:350px;
}
#shop{
    position:relative;
    bottom:250px;
    left:25px;
    font-size:50px;
    background-color:#FF9900;
    font-family:"Colby Bold";
    color:white;
    border-radius:10px;
    padding:15px;
    width:370px;
    box-shadow: 24px 18px 31px -7px rgba(0,0,0,0.45);
}
#shop:hover{
    background-color:#A2DEDA;
    transition:.3s ease all;
    transform:translateY(-10px);
}
#shop:active{
    transform:scale(0.90);
}
